{% extends "yekta/base.html" %}
{% block content %}
   <form method="POST">
   	{% csrf_token %}
  <div class="mb-3">
  	<h3>Want the main link? Enter the short one first!</h3>
  	<hr/>
  <input type="text" class="form-control" aria-describedby="basic-addon2" name="userReq">
  <div class="input-group">
    <button type="submit" class="btn btn-primary">Get</button>
  </div>
</div>
</form>
<div>
	<h2>{{ content }}</h2>
  <h3>{{ browser }}</h3>
  <h4>{{ device }}</h4>
</div>

{% endblock content %}