{% extends "yekta/base.html" %}
{% block content %}

<form method="POST">
  {% csrf_token %}
  <div class="input-group mb-3">

    <input type="text" class="form-control" aria-describedby="basic-addon2" name="userLink" value={{longURL}}>
    <button type="submit" class="btn btn-primary" value="getShortLink" name="button">Get short link</button>
  </div>
  <hr/>

 {% if content %}
    <input readonly="readonly" class="form-control" id="ex3" type="text" value={{content}} name="ourShortLink">
  {% else %}
    <input readonly="readonly" class="form-control" id="ex3" type="text" value="" name="ourShortLink">
  {% endif %}


  
  <br/>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">http://127.0.0.1:8000/shortener/</span>
    <input type="text" class="form-control" id="ex3" aria-describedby="basic-addon2" name="userChosenLink" value={{data}}>
    <button class="btn btn-primary" type="submit" name="button" value="check">Check</button>
  </div>
  {% if message %}
    <input readonly="readonly" class="form-control" id="ex3" type="text" value={{message}} name="checkMessage">
  {% else %}
    <input readonly="readonly" class="form-control" id="ex3" type="text" value="" name="checkMessage">
  {% endif %}
  
  {% if suggestionLink %}
    <h3>Suggestion: {{suggestionLink}}</h3>
  {% endif %}
  
  <br/>
  <div>
    <button type="submit" class="btn btn-primary" value="save" name="button">Save</button>
  </div>
  
</form>

{% endblock content %}