
{% extends "yekta/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
      <div class="media">
        <!-- <h2 class="account-heading">{{ user.username }}</h2>  -->
        <div class="media-body">
        	{% for item in urls %}
          		<ul class="list-group">
	    		
	    
    				<li class="list-group-item">Short URL: {{ item.shortLink }}</li>
    				<li class="list-group-item">Total visits: {{item.numberOfVisits}}</li>
    				<li class="list-group-item">Visits from Chrome: {{item.numChrome}}</li>
    				<li class="list-group-item">Visits from Safari: {{item.numSafari}}</li>
    				<li class="list-group-item">Visits from Firefox: {{item.numFirefox}}</li>
	    	
		 		</ul>
		 		<br />
		 	{% endfor %}
        </div>
		
			

      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}